.infobox
{
	width: 35%;
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
}

.infobox .infobox-table
{
	border: 1px solid #DDE4E3;
}

.infobox .infobox-title
{
	font-size: 1.5em;
	text-align: center;
}

.infobox .infobox-subtitle
{
	text-align: center;
	margin-bottom: 10px;
	margin-bottom: 5px;
}

.infobox .section-header
{
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	background-color: #DDE4E3;
}

.infobox .section {
	background-color: white;
}

.infobox .key-value {
	width: 100%;
}


.infobox .section .key-value .key
{
	vertical-align: top;
	margin-left: 5%;
	display: inline-block;	
	width: 35%;
	font-size: 1em;
	font-weight: bold; 
}

.infobox .section .key-value .value
{	
	display: inline-block;
	width: 55%; 
}

.infobox .bullet-row
{		
	margin-left: 4%;
}

.infobox .bullet-ul
{
	color: #333 !important;
	margin: 0;
}
	
.infobox .bullet-li
{	
	color: #333 !important;
	margin: 0;
}


.infobox .primary-btn
{
	width: 100%;
    background-color: #62a945;
    color: #FFF;
    border: 2px solid #62a945;
    font-family: brandon-grotesque,Raleway,sans-serif;    
    text-align: center;
    text-decoration: none;      
    cursor: pointer;
	margin-bottom: 8px;
}

.infobox .primary-btn:hover
{
    background-color: #62a945;
    color: #FFF; 
}

.infobox .secondary-btn
{
	width: 49%; 
    background-color: #4d8c40;
    color: #FFF;
    border: 2px solid #4d8c40;
    font-family: brandon-grotesque,Raleway,sans-serif;    
    text-align: center;
    text-decoration: none;      
    cursor: pointer;
	margin-bottom: 8px; 
}

.infobox .secondary-btn:hover
{
	background-color: #4d8c40;
    color: #FFF; 	
}