<!--Infobox-->
<div class="infobox col-md-3 pull-right">
	<!-- BEGIN TITLEBLOCK -->
	<div class="infobox-title">
		{TITLE}
	</div>
	<!-- END TITLEBLOCK -->

	<!-- BEGIN SECTION --> 
	<div>
		<!-- BEGIN HEADER --> 
		<div class="section-header col-md-12">
			{VALUE}
		</div>	
		<!-- END HEADER --> 
		<!-- BEGIN NAMEVALUEROW --> 
		<div class="key col-md-6">
			{NAME}
		</div>
		<div class="value col-md-6">
			{VALUE}
		</div>
		<!-- END NAMEVALUEROW -->
		<!-- BEGIN FULLROW --> 		
		<div class="full-row col-md-12">
			{VALUE}
		</div>
		<!-- END FULLROW -->
		<!-- BEGIN BULLETROW --> 		
		<div class="bullet-row col-md-12">
			<ul><li>{VALUE}</li></ul>
		</div>
		<!-- END BULLETROW --> 	
	</div>
	<!-- END SECTION --> 
</div><!--End Infobox-->